<!DOCTYPE html>
<!-- InfoMajesty Inc. 02/26/2015 Layout used by eInvoice Approval Form Screens which need the TabStrip -->

<html>
<head>

    @*moved from bottom of page*@
    @Scripts.Render("~/Content/jquery")
    @Scripts.Render("~/Content/bootstrap")

    <link rel="stylesheet" href="/Content/jquery-ui.css" />

    <script src="/Scripts/jquery-ui-1.11.1.js"></script>

    @*style for vertical tabs*@
    <style>
        .ui-tabs-vertical .ui-tabs-nav {
            padding: .2em .1em .2em .2em;
            float: left;
            width: 12em;
        }

            .ui-tabs-vertical .ui-tabs-nav li {
                clear: left;
                width: 100%;
                border-bottom-width: 1px !important;
                border-right-width: 0 !important;
                margin: 0 -1px .2em 0;
            }

                .ui-tabs-vertical .ui-tabs-nav li a {
                    display: block;
                }

                .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                    padding-bottom: 0;
                    padding-right: .1em;
                    border-right-width: 1px;
                    border-right-width: 1px;
                }

        .ui-tabs-vertical .ui-tabs-panel {
            padding: 1em;
            float: right;
            width: 40em;
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")

    <!--This CSS entry was added by the Telerik VS Extensions for compatibility reasons-->
    <link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1316/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1316/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1316/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1316/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1316/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.common-bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.bootstrap.min.css">
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1316/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1316/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1316/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1316/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <style>
        .k-widget .border-box-sizing * {
            box-sizing: border-box;
        }
    </style>
</head>
<body style="background-color:lightgray">
    <nav class="navbar navbar-inverse " style="border:none; border-color:transparent">
        <div class="container-fluid">
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="headerImage" href="@Url.Action("Home", "Home")">
                    <img src="~/Content/images/Misc/VTAeInvoice5.jpg" style="text-decoration: none; border: 0px; width:100%; text-align:left" />
                </a>

            </div>
            @*<div>

                </div>*@
        </div>

        <div class="container-fluid">
            <div class="row" style="font-weight:bold;background-color:lightgray">
                <div class="col-sm-5">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="font-weight:bold;background-color:lightgray">
                            <li>@Html.ActionLink("Home", "Home", "Home")</li>
                            <li>@Html.ActionLink("eInvoice", "eInvoice", "Home")</li>
                            <li>@Html.ActionLink("Worklist", "Worklist", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Tools <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("eInvoice Report", "eInvoiceReport", "AdminTools")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Roles Admin", "RolesAdmin", "AdminTools")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Help", "Home", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">

                    <h4 class="headerfont" style="text-align:left">eInvoice Approval Form</h4>
                </div>
                <div class="col-sm-4">
                    <p class="nav navbar-text navbar-right" style="font-weight:bold; font-size: 12px">
                        Welcome @Session["LoggedInUserName"].ToString()
                    </p>
                </div>
            </div>
        </div>

    </nav>
            @RenderBody()
      
</body>

</html>

<style>
    .formheader {
        margin-top: 0px;
    }

    .headerfont {
        font-weight: bolder;
        text-align: center;
    }

    .kendotabstrip {
        margin-top: 0px;
        height: 100px;
    }

    .marginBottom-0 {
        margin-bottom: 0;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #cccccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #555;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }
</style>


<script type="text/javascript">

    (function ($) {
        var docNo = @Html.Raw(Json.Encode(TempData["DocumentNo"]));
        var showAllTabs = @Html.Raw(Json.Encode(ViewBag.ShowAllTabs));

        $(document).ready(function () {
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });

            //var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
            //if (docNo == "0" && showAllTabs == false)
            //{
            //    tabStrip.enable(tabStrip.tabGroup.children().eq(1), false);
            //    tabStrip.enable(tabStrip.tabGroup.children().eq(2), false);
            //    tabStrip.enable(tabStrip.tabGroup.children().eq(3), false);
            //}
        });
    })(jQuery);
</script>


