@*This view is read-only with Comments and Attachments as Editable and invoked for roles like 'PM', 'TM', 'DM' and 'AA' *@

@using System.Collections
@using Kendo.Mvc.UI
@model eInvoiceAutomationWeb.ViewModels.RoutingDetailsViewModel

<script src="@Url.Content("~/Scripts/CommonScripts.js")"></script>
<script>
    var container, wnd, options;
    // Add the div to initialize to the DOM
    container = $('<div />').attr('id', 'window').appendTo(document.body);

  
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        var serialNo = $("#hdnFlag").val();
        var docNo = $("#txtDocumentNo").text();

        $("#btnReadOnlySubmit").click(function () {
            //   alert('disabled called');
            $("#btnHeaderReadOnlySave").prop("disabled", true);

            debugger;
            // // Getting URL var by its nam
            var SharedUser = getParameterByName('SharedUser');


            //alert('shared user name:' + SharedUser);

            var approverRole = $("#ddlApproverRoles").data("kendoDropDownList");
            var value = approverRole.value();

            if (value == 0) {
                alert("Please select an Action from the dropdown");
                $("#btnHeaderReadOnlySave").prop("disabled", false);
            }
            else {
                var button = $("#btnReadOnlySubmit");
                var content = button.val();
                if (content == "Submit w/o Approval") {
                    $.getJSON('@Url.Action("Validate", "RoutingDetails")', { RouteTo: value, isReadOnly: true, DocumentNo: docNo, SN: serialNo }, function (data) {
                        if (data == true) {
                            options = {
                                title: "Validation Summary",
                                content: {
                                    url: "@Url.Action("DisplayValidations", "RoutingDetails")",
                                },
                                modal: true,
                                visible: false,
                                position: {
                                    top: "45%",
                                    left: "30%"
                                }
                            };
                            wnd = container.kendoWindow(options).data('kendoWindow').open();
                            $("#btnHeaderReadOnlySave").prop("disabled", false);
                        }
                        else {
                            var comment = $("#Comment").val();
                            if (comment == null || comment == '') {
                                alert('This action needs Comments, please provide them in Comments section !');
                                $("#btnHeaderReadOnlySave").prop("disabled", false);
                            }
                            else {
                                $.getJSON('@Url.Action("Submit", "RoutingDetails")', { RouteTo: value, isReadOnly: true, serialNo: serialNo, documentNo: docNo, Comment: comment, SharedUser: SharedUser }, function (data) {
                                    alert("Your eInvoice request has been submitted successfully!");
                                    location.href = '@Url.Content("~/AdminTools/Dashboard")';
                                });
                            };
                        }
                    });
                }
                else {
                    var sNumber = $("#hdnFlag").val();
                    $.getJSON('@Url.Action("ValidateApproveClick", "RoutingDetails")', { documentNo: docNo, isReadOnly: true, SN: serialNo }, function (data) {
                        if (data == true) {
                            options = {
                                title: "Validation Summary",
                                content: {
                                    url: "@Url.Action("DisplayValidations", "RoutingDetails")",
                                },
                                modal: true,
                                visible: false,
                                position: {
                                    top: "45%",
                                    left: "30%"
                                }
                            };
                            wnd = container.kendoWindow(options).data('kendoWindow').open();
                            $("#btnHeaderReadOnlySave").prop("disabled", false);
                        }
                        else if (data == false) {
                            var comment = $("#Comment").val();
                            $.getJSON('@Url.Action("Approve", "RoutingDetails")', { serialNo: serialNo, documentNo: docNo, Comment: comment, SharedUser: SharedUser }, function (data) {
                                if (isNaN(data)) {
                                    alert(data);
                                    $("#btnHeaderReadOnlySave").prop("disabled", false);
                                }
                                else {
                                    alert("Your eInvoice request has been submitted successfully!");
                                    location.href = '@Url.Content("~/AdminTools/Dashboard")';
                                }
                            });
                        }
                        else {
                            alert(data);
                            $("#btnHeaderReadOnlySave").prop("disabled", false);
                        }
                    });
                }
            }
        });
    });


    var resizeDropDown = function (e) {
        var $dropDown = $(e.sender.element),
        dataWidth = $dropDown.data("kendoDropDownList").list.width(),
        listWidth = dataWidth + 20,
        containerWidth = listWidth + 6;
        // Set widths to the new values
        $dropDown.data("kendoDropDownList").list.width(listWidth);
        $dropDown.closest(".k-widget").width(containerWidth);
    }


    function onActionChange(e) {
        if ((e.sender.text()) == "- select an Action -") {
            document.getElementById("btnReadOnlySubmit").value = "Submit w/o Approval";
        }
        else {
            var selectedValue = $(e.sender.text());
            if (selectedValue.selector.toString() == "Approved - Move to next level Approver")
                document.getElementById("btnReadOnlySubmit").value = "Submit";
            else
                document.getElementById("btnReadOnlySubmit").value = "Submit w/o Approval";
        }
    }

</script>

<div class="container-fluid border-box-sizing">
    <div class="row" style="width:100%">
        <div class="col-sm-3">
            @Html.Label("Document No: ", new { @class = "thick" })
            <label id="txtDocumentNo">@Model.DocumentNo.ToString()</label>

            @if (Model.InvoiceDetails.Status != "Rejected")
                {
                <a href="@Url.Action("GeneratePDF","eInvoicePDF", new { DocumentNo=Model.DocumentNo.ToString()})" target="_blank" style="margin-left:10px">
                    <img src="~/Content/Images/Misc/print-button.png" value="Print" id="btnPrint" height="25" width="25" title="Print Preview" />
                </a>
                }
            <input type="hidden" value="@Model.SN" id="hdnFlag" />

        </div>
        <div class="col-sm-3">
            @* SM 10/17/2016 - Phase 3*@
            @Html.Label("Invoice Type: ", new { @class = "thick" })
            <span id="divNoContractInvoice">
                @(Html.Kendo().DropDownList()
                                  .Name("ddlInvoiceType")
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .BindTo(new List<SelectListItem>() {
                                      new SelectListItem() {
                                          Text = "- select an Action -",
                                          Value = "-1"
                                      },
                                      new SelectListItem() {
                                          Text = "Contracting",
                                          Value = "Contract"
                                      },
                                      new SelectListItem() {
                                          Text = "Non-Contracting",
                                          Value = "NonContract"
                                      },
                                      new SelectListItem() {
                                          Text = "Manual Routing",
                                          Value = "Manual"
                                      }
                                  })
                                  .Enable(false)
                                  .Value(@Model.InvoiceDetails.InvoiceType.ToString())
                                  //.Value(@Model.InvoiceDetails.NonContractingStatus.ToString())
                )
            </span>


        </div>

        <div class="col-sm-6">
            @* 07/01/2015 - Post UAT Changes - Build 8*@
            @Html.ActionLink("View Invoice Documents", "ViewSharePointInvoices", "RoutingDetails",
                             new { DocumentNo = @Model.DocumentNo.ToString(),
                                 VendorNo = @Model.InvoiceDetails.VendorNo.ToString(),
                                 InvoiceNo = @Model.InvoiceDetails.InvoiceNo.ToString() },
                             new { target = "_blank" })
            &nbsp; &nbsp;
            @Html.Label("Action: ", new { @class = "thick" })
            @(Html.Kendo().DropDownList()
              .Name("ddlApproverRoles")
              .HtmlAttributes(new { @Style = "font-size:12px;vertical-align:middle; margin:0px 0px 4px 0px" })
              .DataValueField("ActionId")
              .DataTextField("ActionName")
              .BindTo((IEnumerable)ViewBag.InvoiceStatusApproverRoles)
              .Events(e =>
                {
                   e.Change("onActionChange");
                   e.DataBound("resizeDropDown");
                })
              .OptionLabel("- select an Action -"))
            <input type="button" value="Submit w/o Approval" id="btnReadOnlySubmit" class="btn-primary" title="Click here to Proceed" />
           
         </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("~/Views/Shared/_InvoiceDetailsReadOnlyForRoutingDetails.cshtml", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
           @if (Model != null)
           {
              @Html.Label("Approvers", new { @class = "thick" })
              @(Html.Kendo().Grid<eInvoiceAutomationWeb.ViewModels.ApproversViewModel>()
                     .Name("ReadOnlyApproversGrid")
                     .Columns(columns =>
                     {
                         columns.Bound(p => p.InvoicePOApproverID).Visible(false);
                         columns.Bound(p => p.InvoiceMasterID).Visible(false);
                         columns.Bound(p => p.RoleName);
                         columns.Bound(p => p.PONumberField).Title("PO");
                         columns.Bound(p => p.POLine).HtmlAttributes(new { style = "text-align:right" });
                         columns.ForeignKey(p => p.ApproverUserId, (System.Collections.IEnumerable)ViewBag.MemoryApprovers, "UserID", "Concatenated").Title("Approver");
                         columns.Bound(p => p.ApproverSuggestedBySAP);
                     })
                  .Sortable()
                  .Pageable()
                  .Navigatable()
                 // .Scrollable(s => s.Height("auto"))
                  .DataSource(dataSource =>
                   dataSource.Ajax()
                  .PageSize(10)
                  .Batch(true)
                  .ServerOperation(false)
                  .Model(model =>
                    {
                      
                         model.Id(p => p.InvoicePOApproverID);
                    })
                    
                  .Read(read => read.Action("Approvers_Read", "RoutingDetails"))
                )
           )
         }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("~/Views/RoutingDetails/_EditableAttachmentsandComments.cshtml", Model)
        </div>
    </div>

 </div>




